.container {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content:  center;
  gap: 1.2rem;
  height: calc(100vh - 5rem);
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.imgWrapper {
  position: relative;
  width: 20rem;
  height: 20rem;

  @media screen and (max-width: 768px) {
    width: 16rem;
    height: 16rem;
  }
}

.footer {
  font-size: var(--h5-size);
  color: var(--dark-font-color);
  font-weight: var(--bold-font-weight);

  @media screen and (max-width: 768px) {
    font-size: var(--h6-size);
  }
}

.redirectCta {
  background-color: var(--secondary-bg-color);
  color: var(--light-font-color);
  font-size: var(--h7-size);
  border-radius: 0.4rem;
  padding: 1rem;
  cursor: pointer;
  height: max-content;
  text-decoration: none;
}

.redirectCta:focus {
  transform: translateY(0.1rem);
}
