.checkoutContainer {
  display: flex;
  gap: 1.2rem;
  padding: 2.4rem;
  justify-content: center;
  background-color: var(--base-color);
  height: calc(100% - 5rem);

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    gap: unset;
    padding: 0;
  }
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  gap: 1.2rem;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0;
    gap: unset;
  }
}

.cartWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
  background: var(--primary-bg-color);

  @media screen and (max-width: 768px) {
    border-radius: unset;
  }
}

.cartHeader {
  font-size: var(--h4-size);
  font-weight: var(--bold-font-weight);
  color: var(--dark-font-color);
  padding: 1.6rem;

  @media screen and (max-width: 768px) {
    font-size: var(--h5-size);
  }
}

.cart {
  overflow: auto;
  height: 100%;
}

.cart::-webkit-scrollbar {
  display: none;
}
